body {
	margin: 0;
	overflow-x: hidden;
}

.center {
	text-align: center;
}

/*--------------------------------------*/

.bg {
	background-image: url(./homeMainBG.png);
  	width: 100%;
  	height: 175vh;
  	background-repeat: no-repeat;
  	background-position: center center;
  	background-size: cover;
  	background-attachment: fixed;
}

p#top {
	padding-top: 32vh;
}

p#indented {
	margin-top: 10px;
	padding-left: 40vw;
}

.bg p {
	color: white;
  	font-size: 50px;
  	padding-left: 30vw;
  	font-family: Impact, Charcoal, sans-serif	
;
	margin: 0px;
}

p.explainBG {
	font-family: Georgia, serif;
	margin: 0;
	padding-left: 10vw;
	font-size: 30px;
}

p#explainTop.explainBG {
	padding-top: 15vh;
}

p#explainIndent.explainBG {
	padding-left:15vw;
}
/*--------------------------------------*/

.input {
	white-space: nowrap;
	background-image: linear-gradient(rgb(249, 106, 0), rgb(251,162,0));
	top: 15%;
	left: 35.5%;
	position: fixed;
	border-radius: 25px;
	padding: 20px;
}

.input input {
	font-size: 13px;
	width: 300px;
}

.input td {
	height: 15px;
}

.input button {
	cursor: pointer;
	box-shadow: 0 4px rgb(150, 150, 150);
	text-align: center;
	border-radius: 10%;
	background-color: grey;
	color: white;
	border: none;
	font-size: 17px;
}

.input button:active {
	box-shadow: 0 0px #000;
	transform: translateY(4px);
}

.input label {
    font-size: 17px;
}

.input td label.error {
	color: red;
}

/*--------------------------------------*/

.navBar {
	position: fixed;
	list-style-type: none;
	margin: 0;
	background-color: grey;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	padding-top: 7.5px;
	padding-bottom: 7.5px;
	padding-left: 5px;
}

.navBar li a.notFilledIn {
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	height: 50px;
	width: 100px;
	line-height: 50px;
	display: block;
	text-align: center;
	margin-right: 5px;
	float: left;
	background: grey;
	text-decoration: none;
	font-size: 20px;
	color: black;
}

.navBar li a.filledIn {
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	background: rgb(249, 106, 0);
	height: 50px;
	width: 100px;
	line-height: 50px;
	display: block;
	text-align: center;
	margin-right: 5px;
	float: left;
	text-decoration: none;
	font-size: 20px;
	color: black;
}

.navBar li a.notFilledIn:hover {
	background: rgb(249, 106, 0);
}

img.logo {
	width: 50px;
	height: 50px;
	float: right;
	margin-right: 5px
}
